<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/reservation-make.js"></script>
    <script src="/js/menu-selector.js"></script>
    <script src="/js/order.js"></script>
    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="title" th:text="${param.date}"></div>
    <div class="column-direction-container outlined">
        <div class="row-direction-container">
            <div class="content ">
                <label class="form-label" for="name-input">과 이름</label>
                <input class="rectangle-input" id="name-input" name="name" placeholder="과 이름" size="5" type="text">
            </div>
            <div class="content">
                <label class="form-label" for="password-input">비밀번호</label>
                <input class="rectangle-input" type="password" name="password" id="password-input" size="5"
                       placeholder="비밀번호" autocomplete="off">
            </div>
        </div>
        <div class="content">
            <label class="form-label" for="time-selector">시간</label>
            <select class="rectangle-input" id="time-selector" name="time">
                <option th:each="time:${availableTimes}" th:text="${time}" th:value="${time}"></option>
            </select>
        </div>
        <div class="content">
            <label class="form-label" for="message-input">요청 사항</label>
            <textarea class="rectangle-input" name="name" id="message-input" placeholder="요청 사항" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="html-part" id="menu-selector-container"
         th:data-include-file="${'/part/menu-selector?date=' + date}"></div>
    <div class="html-part" data-include-file="/part/order-viewer" id="order-viewer-container"></div>
    <button id="make-reservation-button" class="rectangle-button rectangle-button--fill">신청</button>
</main>
</body>
</html>