<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/menu-selector.js"></script>


    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="title" th:text="${param.date}"></div>
    <div class="column-direction-container outlined">
        <div class="row-direction-container">
            <div class="content ">
                <label class="form-label" for="name-input">과 이름</label>
                <input class="rectangle-input" type="text" name="name" id="name-input" size="5" placeholder="과 이름">
            </div>
            <div class="content">
                <label class="form-label" for="password-input">비밀번호</label>
                <input class="rectangle-input" type="password" name="password" id="password-input" size="5" placeholder="비밀번호" autocomplete="off">
            </div>
        </div>
        <div class="content">
            <label class="form-label" for="time-selector">시간</label>
            <select class="rectangle-input" name="time" id="time-selector">
                <option th:each="time:${availableTimes}" th:value="${time}" th:text="${time}"></option>
            </select>
        </div>
        <div class="content">
            <label class="form-label" for="message-input">요청 사항</label>
            <textarea class="rectangle-input" name="name" id="message-input" placeholder="요청 사항" autocomplete="off"></textarea>
        </div>
    </div>
    <div id="menu-selector-container" class="html-part" th:data-include-file="${'/part/menu-selector?date=' + date}"></div>
    <div id="order-viewer-container" class="html-part" data-include-file="/part/order-viewer"></div>
</main>
</body>
</html>