<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<header class="header mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open navigation menu">menu
            </button>
            <span class="mdc-top-app-bar__title">Page title</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite
            </button>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search
            </button>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert
            </button>
        </section>
    </div>
</header>
<main>
    <label for="name-input">name</label><input type="text" name="name" id="name-input">
    <label for="time-selector">time</label><select name="time" id="time-selector">
    <option value="hi">hi</option>
</select>
    <div id="order-list" class="mdc-card">
        <h1>hi</h1>
    </div>
    <input class="mdc-button mdc-button--outlined" type="button" value="submit">
</main>
</body>
</html>