<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/reservation.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/reservation-view.js"></script>
    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div th:each="name : ${monthlyUsage.keySet()}">
        <span th:text="${name}"></span>
        [
        <span th:each="reservation : ${monthlyUsage.get(name)}"
              th:text="${reservation.getId()} + ' : ' +  ${reservation.getOrder().getItems().size()} + '개 '"></span>
        ]
    </div>
</main>
</body>
</html>