<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/order.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/reservation-make.js"></script>
    <script src="/js/menu-selector.js"></script>
    <script src="/js/order.js"></script>
    <script src="/js/order-loader.js"></script>
    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="title" th:text="${reservation.getId()}"></div>
    <div class="column-direction-container outlined">
        <div class="grid-two-column">
            <div class="content">
                <label class="form-label" for="name-input">과 이름</label>
                <input class="rectangle-input" id="name-input" name="name" placeholder="과 이름" size="5" type="text"
                       th:value="${reservation.getName()}" disabled>
            </div>
            <div class="content">
                <label class="form-label" for="contact-input">연락처</label>
                <input class="rectangle-input" id="contact-input" name="name" placeholder="연락서 (사무실 번호)" size="5"
                       type="text" th:value="${reservation.getContact()}" disabled>
            </div>
        </div>
        <div class="content">
            <label class="form-label" for="time-selector">시간</label>
            <select class="rectangle-input" id="time-selector" name="time" disabled>
                <option th:text="${reservation.getTime().toLocalTime()}"
                        th:value="${reservation.getTime().toLocalTime()}"></option>
            </select>
        </div>
        <div class="content">
            <label class="form-label" for="message-input">요청 사항</label>
            <textarea class="rectangle-input" name="name" id="message-input" autocomplete="off"
                      th:value="${reservation.getMessage()}" disabled></textarea>
        </div>
    </div>
    <div class="html-part" data-include-file="/part/order-viewer" id="order-viewer-container" th:data-order-id="${reservation.id}"></div>
</main>
</body>
</html>