<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reservation.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/reservation-view.js"></script>
    <title>Title</title>
</head>
<body>
<header class="header mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                    aria-label="Open navigation menu">menu
            </button>
            <span class="mdc-top-app-bar__title">Page title</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite
            </button>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search
            </button>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert
            </button>
        </section>
    </div>
</header>
<main>
    <div class="row-direction-container">
        <div class="row-element" th:each="dayOfWeek : ${dayOfWeeks}">
            <div class="row-head" th:text="${dayOfWeek.toString()}"></div>
            <div class="row-content" th:each="reservation : ${weekReservations.get(dayOfWeek)}">
                <p class="reservation-content" th:text="${reservation.getName()}"></p>
                <p class="reservation-content" th:text="${reservation.getTime().format(formatter)}"></p>
            </div>
            <div class="row-content row-tail">
                <button class="rectangle-button rectangle-button--outlined rectangle-button--fill add-button"
                        th:value="${dates.get(dayOfWeek)}">Add
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>