<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reservation.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/reservation-view.js"></script>
    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="row-direction-container bottom-interval">
        <div class="left-part current-month" th:text="${currentMonth}"></div>
        <div class="right-part">
            <button class="rectangle-button rectangle-button--outlined week-control-button" th:text="${lastWeekText}"
                    th:value="${offset - 1}"></button>
            <button class="rectangle-button rectangle-button--outlined week-control-button" th:text="${nextWeekText}"
                    th:value="${offset + 1}"></button>
        </div>
    </div>
    <div class="row-direction-container outlined">
        <div class="row-element" th:each="date : ${dates}">
            <div class="row-head gray-background" th:text="${dayOfWeeks.get(date)}"></div>
            <div class="row-content reservation-container" th:each="reservation : ${weekReservations.get(date)}">
                <input type="hidden" name="reservation-id" th:value="${reservation.getId()}">
                <p class="row-content-item hover-effect">
                    <th:block th:text="${reservation.getName()}"></th:block>
                    <br>
                    <th:block th:text="${reservation.getTime().format(formatter)}"></th:block>
                </p>
            </div>
            <div class="row-content row-tail">
                <button class="rectangle-button rectangle-button--outlined rectangle-button--fill add-button"
                        th:text="${addText}" th:value="${date}">
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>