<div id="menu-selector">
    <div class="row-direction-container tab-container">
        <div class="row-element tab-item" th:each="group : ${groupList}" th:data-group-id="${group.id}"
             th:text="${group.name}"></div>
    </div>
    <div class="column-direction-container menu-container" th:each="group : ${groupList}"
         th:data-group-id="${group.id}">
        <div class="column-direction-container menu-item" th:each="menu : ${menuTable.get(group)}"
             th:data-menu-id="${menu.id}">
            <div th:text="${menu.name}"></div>
            <div th:text="${menu.cost}"></div>
        </div>
    </div>
</div>