<!--Need to include menu.css and menu.js-->
<!--Set containing element's id to menu-selector-container-->
<div class="column-direction-container outlined" id="menu-selector">
    <div class="row-direction-container tab-container">
        <div class="row-element row-head hover-effect tab-item" th:data-group-id="${group.id}"
             th:each="group : ${groupList}"
             th:text="${group.name}"></div>
    </div>
    <div class="row-content row-direction-container wrap-container menu-container" th:data-group-id="${group.id}"
         th:each="group : ${groupList}">
        <div class="row-content-item hover-effect outlined menu-item" th:data-menu-id="${menu.id}"
             th:each="menu : ${menuTable.get(group)}">
            <div th:utext="${menu.name}"></div>
            <div th:text="${'₩' + menu.cost}"></div>
        </div>
    </div>
    <div class="row-content row-tail" id="order-adder-container">
        <div class="row-direction-container">
            <div class="btn-group" role="group">
                <input autocomplete="off" checked class="btn-check" id="ice" name="temperature" type="radio">
                <label class="btn btn-outline-primary" for="ice">ICE</label>
                <input autocomplete="off" class="btn-check" id="hot" name="temperature" type="radio">
                <label class="btn btn-outline-danger" for="hot">HOT</label>
            </div>
        </div>
        <input class="rectangle-input" placeholder="shot" type="number">
        <input type="checkbox">
        <button class="rectangle-button rectangle-button--outlined">Add</button>
    </div>
</div>