<!--Need to include menu.css and menu.js-->
<!--Set containing element's id to menu-selector-container-->
<div class="column-direction-container outlined" id="menu-selector">
    <div class="row-direction-container tab-container">
        <div class="row-element row-head hover-effect tab-item" th:data-group-id="${group.id}"
             th:each="group : ${groupList}"
             th:text="${group.name}"></div>
    </div>
    <div class="row-content row-direction-container wrap-container menu-container" th:data-group-id="${group.id}"
         th:each="group : ${groupList}">
        <div class="row-content-item hover-effect outlined menu-item" th:data-menu-id="${menu.id}"
             th:each="menu : ${menuTable.get(group)}">
            <div th:utext="${menu.name}"></div>
            <div th:text="${'₩' + menu.cost}"></div>
        </div>
    </div>
    <div id="menu-add-container" class="row-content row-tail column-direction-container">
        <div id="selected-menu">메뉴를 선택해주세요</div>
        <div id="menu-argument-container" class="row-direction-container">
            <div class="left-part gap-container">
                <div class="column-direction-container">
                    <div class="form-label">온도</div>
                    <div class="row-direction-container">
                        <div id="temperature-selector" class="row-direction-container" role="group">
                            <input type="radio" name="temperature" id="temperature-ice" class="observer" autocomplete="off" data-temperature="ICE" checked>
                            <label for="temperature-ice" class="rectangle-button connected-radio-button">ICE</label>
                            <input type="radio" name="temperature" id="temperature-hot" class="observer" autocomplete="off" data-temperature="HOT">
                            <label for="temperature-hot" class="rectangle-button connected-radio-button">HOT</label>
                        </div>
                    </div>
                </div>
                <div class="column-direction-container">
                    <label class="form-label" for="decaffeinated">디카페인</label>
                    <input type="checkbox" id="decaffeinated" class="rectangle-button rectangle-checkbox" autocomplete="off">
                </div>
                <div class="column-direction-container grow-item">
                    <label class="form-label" for="shot">샷 추가</label>
                    <input type="number" min="0" id="shot" class="rectangle-input short-width-input" placeholder="샷 추가" size="2" autocomplete="off">
                </div>
            </div>
            <div class="row-direction-container gap-container bottom-align-container">
                <div class="column-direction-container grow-item">
                    <label class="form-label" for="count">수량</label>
                    <input type="number" min="0" id="count" class="rectangle-input short-width-input" placeholder="수량" size="2" value="1" autocomplete="off">
                </div>
                <div class="column-direction-container grow-item">
                    <button id="add-menu-button" class="rectangle-button grow-item">추가</button>
                </div>
            </div>
        </div>
    </div>
</div>