body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 8px;
    max-width: 1024px;
}

header {
    position: relative;
    width: 100%;
}

#header-container {
    background-color: #eee;
    border-bottom: #ddd;
    box-shadow: 0 1px 1px gray;
    padding: 8px;
}

.column-direction-container {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.bottom-interval {
    margin-bottom: 8px;
}

.rectangle-button {
    transition-duration: 0.5s;
    padding: 8px;
    border: #ddd solid 1px;
    background-color: #ddd;
}

.rectangle-button:hover {
    background-color: #eee;
}

.rectangle-button:focus {
    background-color: #ddd;
}

.rectangle-button--outlined {
    background-color: transparent;
}

.rectangle-button--fill {
    width: 100%;
}

.row-direction-container {
    display: flex;
    flex-direction: row;
}

.wrap-container {
    flex-wrap: wrap;
    padding: 8px;
    column-gap: 8px;
}

.outlined {
    border: #ddd solid 1px;
}

.row-element {
    border-right: #ddd solid 1px;
    flex: 1;
}

.row-element:last-child {
    border-right: none;
}

.row-head {
    padding: 8px;
    text-align: center;
    border-bottom: #ddd solid 1px;
}

.gray-background {
    background-color: #ccc;
}

.row-content {
    margin: 8px;
    text-align: center;
    border-bottom: #ddd solid 1px;
}

.row-content-item {
    text-align: center;
    margin: 8px 0;
    padding: 4px;
}

.hover-effect {
    transition-duration: 0.5s;
}

.hover-effect:hover {
    background-color: #ddd;
}

.row-tail {
    border-bottom: none;
}

.left-part {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
}

.center-part {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.right-part {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.title {
    font-size: 24pt;
    font-weight: bold;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
}

.form-label {
    margin-left: 12px;
    margin-bottom: 4px;
}

.rectangle-input {
    border: #ddd solid 1px;
    border-bottom: gray solid 1px;
    background-color: #eee;
    padding: 8px 4px;
}

@media (max-width: 1024px) {
    body {
        align-items: stretch;
    }
}