body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 8px;
    max-width: 1024px;
}

header {
    position: relative;
    width: 100%;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#header-container {
    background-color: #eee;
    border-bottom: #ddd;
    box-shadow: 0 1px 1px gray;
    padding: 8px;
}

.grid-two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-align-container {
    align-items: end !important;
}

.column-direction-container {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.bottom-interval {
    margin-bottom: 8px;
}

.rectangle-button {
    transition-duration: 0.5s;
    padding: 12px;
    border: #ddd solid 1px;
    background-color: transparent;
}

.rectangle-button:hover {
    background-color: #ddd !important;
}

.rectangle-button:focus {
    background-color: #eee !important;
}

.rectangle-button--fill {
    width: 100%;
}

.connected-radio-button {
    padding: 12px 12px;
    border-right: none;
    background-color: transparent;
}

.connected-radio-button:last-child {
    border-right: #ddd solid 1px;
}

.rectangle-checkbox {
    width: 42px;
    height: 42px;
}

.observer {
    display: none;
}

.grow-item {
    flex-grow: 1;
}

.row-direction-container {
    display: flex;
    flex-direction: row;
}

.wrap-container {
    flex-wrap: wrap;
    padding: 8px 0;
    column-gap: 8px;
}

.outlined {
    border: #ddd solid 1px;
}

.row-element {
    border-right: #ddd solid 1px;
    flex: 1;
}

.row-element:last-child {
    border-right: none;
}

.row-head {
    padding: 8px;
    text-align: center;
    border-bottom: #ddd solid 1px;
}

.gray-background {
    background-color: #eee;
}

.row-content {
    margin: 8px;
    text-align: center;
    border-bottom: #ddd solid 1px;
}

.row-content:last-child {
    border-bottom: none;
}

.row-content-item {
    text-align: center;
    margin: 8px 0;
    padding: 4px;
}

.hover-effect {
    transition-duration: 0.5s;
}

.hover-effect:hover {
    background-color: #ddd !important;
}

.row-tail {
    border-bottom: none;
}

.left-part {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: start;
}

.center-part {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.right-part {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

.shrink-part {
    flex-shrink: 1;
}

.gap-container {
    gap: 8px;
}

.disabled {
    color: gray;
    text-decoration-line: line-through;
    background-color: transparent;
}

.disabled:hover {
    background-color: transparent !important;
}

.title {
    font-size: 24pt;
    font-weight: bold;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
}

.form-label {
    text-align: start;
    margin-left: 12px;
    margin-bottom: 4px;
}

.rectangle-input {
    border: #ddd solid 1px;
    border-bottom: gray solid 1px;
    background-color: #eee;
    padding: 12px 12px;
}

.red-border {
    border: red solid 2px;
}

@media (min-width: 1024px) {
    body {
        align-items: center;
    }

    main {
        width: 1024px;
    }
}

@media (max-width: 512px) {

    .short-width-input {
        max-width: 100px;
    }
}

