#menu-add-container {
    justify-content: start;
    align-items: start;
}

#menu-argument-container {
    flex-wrap: wrap;
    justify-content: start;
    align-items: end;
    column-gap: 16px;
}

#selected-menu {
    padding-left: 16px;
    font-size: 16pt;
    font-weight: bold;
}

.menu-container {
    grid-gap: 8px;
    padding-bottom: 8px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    flex: 1;
    min-width: 100px;
    margin: 0;
}