<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>칠성다방</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="column-direction-container mdc-data-table" th:if="${event != null}">
        <div class="mdc-data-table__table-container">
            <table aria-label="event" class="mdc-data-table__table">
                <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="notice-title mdc-data-table__header-cell" role="columnheader" scope="col">Event</th>
                </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                <tr class="mdc-data-table__row">
                    <th class="mdc-data-table__cell" th:text="${event.getTitle()}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>