<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>칠성다방</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div>현재 주문번호 : <span th:text="${currentOrderNumber}"></span></div>
    <a href="/reservation/view">단체주문 예약</a>
</main>

</body>
</html>