<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/login.js"></script>
    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="column-direction-container outlined">
        <div class="content">
            <label class="form-label" for="id-input">아이디</label>
            <input class="rectangle-input" id="id-input" name="name" placeholder="아이디" size="5" type="text" required>
        </div>
        <div class="content">
            <label class="form-label" for="password-input">비밀번호</label>
            <input class="rectangle-input" id="password-input" name="name" placeholder="비밀번호" size="5"
                   type="password" required>
        </div>
    </div>
    <button id="login-button" class="rectangle-button rectangle-button--fill">로그인</button>
</main>
</body>
</html>