<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main>
    <div class="column-direction-container outlined">
        <div class="content">
            <label class="form-label" for="name-input">아이디</label>
            <input class="rectangle-input" id="name-input" name="name" placeholder="과 이름" size="5" type="text" required>
        </div>
        <div class="content">
            <label class="form-label" for="contact-input">비밀번호</label>
            <input class="rectangle-input" id="contact-input" name="name" placeholder="연락서 (사무실 번호)" size="5"
                   type="password" required>
        </div>
        <button class="rectangle-button">로그인</button>
    </div>
</main>
</body>
</html>