<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/menu.js"></script>
    <title>메뉴</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main id="menu-selector-container" class="html-part" data-include-file="/part/menu-selector">

</main>
</body>
</html>