<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/menu-selector.js"></script>
    <title>메뉴</title>
</head>
<body>
<header class="html-part" data-include-file="/part/header"></header>
<main class="html-part" data-include-file="/part/menu-selector" id="menu-selector-container">

</main>
</body>
</html>